<!-- <p>forgotpassword works!</p> -->
<div style="text-align:center;">
    <h1 style="font-family:Times New Roman, serif;font-size: xx-large;">Sign Up</h1>
    <br/>
    <form [formGroup]="RegisterForm1"   (ngSubmit)="SubmitData()">
        
    <br/>
    <div class="form-group">
    <label style="font-family:Times New Roman, serif;font-size:large;"  >Enter Email:</label>
    <input type="text" class="form-control form-control-sm" formControlName="EmailId" name="EmailId" id="EmailId"/>
    </div>
    <div class="form-group">
        <label style="font-family:Times New Roman, serif;font-size:large;">Set Password:</label>
        <input type="text" class="form-control form-control-sm"  formControlName="Password" name="Password" id="Password"/>
        </div>
    <br/>
    <button type="submit" >Submit</button>
    <!-- <label>Go Back</label> -->
    &nbsp;&nbsp;<button type="submit"  routerLink="/customerlogin" routerLinkActive="active" >Go Back</button>
    
    </form> 
    </div>