<!-- <p>updateproduct works!</p> -->
<!-- <p>insertproduct works!</p> -->
<div style="text-align:center;">
    <h1 style="font-family:Times New Roman, serif;font-size: xx-large;">Sign Up</h1>
    <br/>
    <form [formGroup]="RegisterForm"   (ngSubmit)="SubmitData()">
        
        <br/>
        <div class="form-group">
        <label style="font-family:Times New Roman, serif;font-size:large;"  >Enter ProductId:</label>
        <input type="text" class="form-control form-control-sm" formControlName="ProductId" name="ProductId" id="ProductId"/>
        </div>
    <br/>
    <div class="form-group">
    <label style="font-family:Times New Roman, serif;font-size:large;"  >Enter ProductName:</label>
    <input type="text" class="form-control form-control-sm" formControlName="ProductName" name="ProductName" id="ProductName"/>
    </div>
    <div class="form-group">
        <label style="font-family:Times New Roman, serif;font-size:large;">ActualPrice:</label>
        <input type="number" class="form-control form-control-sm"  formControlName="ActualPrice" name="ActualPrice" id="ActualPrice"/>
        </div>
    <br/>
    <div class="form-group">
        <label style="font-family:Times New Roman, serif;font-size:large;">Discount:</label>
        <input type="text" class="form-control form-control-sm"  formControlName="Discount" name="Discount" id="Discount"/>
        </div>
        <br/>
        <div class="form-group">
            <label style="font-family:Times New Roman, serif;font-size:large;">Quantity:</label>
            <input type="number" class="form-control form-control-sm"  formControlName="Quantity" name="Quantity" id="Quantity"/>
        </div>
        <br/>
        <div class="form-group">
            <label style="font-family:Times New Roman, serif;font-size:large;" >Description:</label>
            <input type="text" class="form-control form-control-sm" formControlName="Description" name="Description" id="Description"/>
            
            </div>
        
        
        <br/>
    
    <div class="form-group">
    <label style="font-family:Times New Roman, serif;font-size:large;">ProductImage:</label>
    <input type="Byte" class="form-control form-control-sm"  formControlName="ProductImage" name="ProductImage" id="ProductImage"/>
    </div>
    <br/>

    <div class="form-group">
        <label style="font-family:Times New Roman, serif;font-size:large;">CategoryId:</label>
        <input type="number" class="form-control form-control-sm"  formControlName="CategoryId" name="CategoryId" id="CategoryId"/>
        </div>
        <br/>
    
    <button type="submit" >Submit</button>
    <!-- <label>Go Back</label> -->
    &nbsp;&nbsp;<button type="submit"  routerLink="/login" routerLinkActive="active" >Go Back</button>
    
    </form> 
    </div>